PRODUCT_NAME = BakoAppTests
PRODUCT_MODULE_NAME = BakoAppTests
PRODUCT_BUNDLE_IDENTIFIER = com.micate.Bako.Tests
MACOSX_DEPLOYMENT_TARGET = 12.0
SWIFT_VERSION = 5.0
GENERATE_INFOPLIST_FILE = YES
CODE_SIGNING_ALLOWED = NO
ENABLE_TESTABILITY = YES
BUNDLE_LOADER = $(TEST_HOST)
TEST_HOST = $(BUILT_PRODUCTS_DIR)/Bako.app/Contents/MacOS/Bako
